@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: green;
    width: 100%;
    font-size: .6em;
    padding: 1.5em;
    color: white;
    text-align: center;

    /* mobile-only */
    position: fixed;
    top: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(154, 252, 141);
}

h1 {
    letter-spacing: .1em;
}

main {
    margin: auto;
}

/* Formulário */

fieldset {
    /* padding: .5em; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    overflow: hidden;
    border: none;
}

fieldset:nth-of-type(1) {
    margin-top: 4em;
}

.input-container {
    display: inline-block;
    width: 80%;
    height: 3.5em;
    margin-bottom: 20px;
    background-color: white;
    border: 1px solid rgb(177, 177, 177);
    border-radius: 5px;
    /* margin-bottom: 1em; */
}

label {
    display: block;
    font-size:.8em;
    margin-bottom: .2em;
    padding: .5em;
}

label::after {
    content: ":";
}

input {
    display: block;
    /* height: 2.4em; */
    width: 90%;
    /* padding: 1em .5em; */
    padding-left: .6em;
    /* margin: auto; */
    margin-bottom: 1em;
    /* border-radius: 5px; */
    border: none;
    outline: none;
}

input::-webkit-input-placeholder {
    color: rgb(156, 156, 156);
}

input:-ms-input-placeholder {
    color: rgb(156, 156, 156);
}

input:-moz-placeholder {
    color: rgb(156, 156, 156);
}

input::-moz-placeholder {
    color: rgb(156, 156, 156);
}