@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;600;700&display=swap"); /*Fonte Poppins*/

@media screen and (min-width: 600px) and (max-width: 900px) {
  main {
    width: 500px;
  }

  fieldset {
    display: grid;
    
  }

  /* fieldset {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  div.name {
    width: 40%;
    flex-grow: 1;
  }

  div.lastname {
    width: 40%;
  }

  div.doc {
    width: 45%;
  } */
}
